/* <body> and <main> are containers to flexible boxes */
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

h1 {
    color: cornsilk;
    background-color: black;
}

.styling h1 {
    color: rgb(138, 97, 168);
}
.logo {
    color: chartreuse;
}
